


<h1>{{title}}</h1>
<nav>
  <a routerLink="/addCategorie" type="button" class="btn btn-info">Ajouter une catégorie</a>
  <a routerLink="/addTache" type="button" class="btn btn-info">Ajouter une tâche</a>
  <a routerLink="/quickstart" type="button" class="btn btn-info">Quick Start</a>
</nav>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Catégorie</th>
      <th scope="col">Temps total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Categorie1</td>
      <td>00:00</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Categorie2</td>
      <td>11:00</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Categorie2</td>
      <td>15:00</td>
    </tr>
  </tbody>
</table>

