<!-- /.panel-heading -->
<div class="table-responsive col-md-4">
	<table class="table">
		<thead>
			<tr>
                <th>
					<button (click)="gotoPrev()" type='button' class='btn btn-outline btn-primary'><</button>
				</th>
                <th>
                    <div class='input-group'>
						<input  class='form-control' style='text-align: center' [(ngModel)]="today" (change)="gotoDate()">
                    </div>
                </th>
                <th>
					<button *ngIf="!lastDay" (click)="gotoNext()" type='button' class='btn btn-outline btn-primary'>></button>
				</th>
			</tr>
		</thead>
	</table>
</div>

<table class="table">
	<ng-container *ngIf="tachesSansCategorie.length>0">
		<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Sans catégorie</th> 
					<th scope="col">{{getTempsTotalCategorie(-1)}}</th>
					<th scope="col">Action</th>
				</tr>
		</thead>
		<tbody>
			<tr *ngFor="let tache of tachesSansCategorie">
				<th scope="row">{{tache.id}}</th>
				<td>{{tache.nom}}</td>
				<td>{{tache.duree}}</td>
				<td>
					<ng-container *ngIf="tache.enCours">
						<button (click)="stopTache(tache.id)" class="btn btn-warning btn-sm">Stop</button>
					</ng-container>
					<button class="btn btn-primary btn-sm" routerLink="/tache/{{tache.id}}">Edit</button>
					<button (click)="supprTache(tache.id)" class="btn btn-outline-danger btn-sm">X</button>
				</td>
			</tr>
		</tbody>
	</ng-container>
	<ng-container *ngFor="let categorie of categories">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">{{categorie.nom}}</th> 
				<th scope="col">{{getTempsTotalCategorie(categorie.id)}}</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let tache of getTachesFromCategorie(categorie.id)">
				<th scope="row">{{tache.id}}</th>
				<td>{{tache.nom}}</td>
				<td>{{tache.duree}}</td>
				<td>
					<ng-container *ngIf="tache.enCours">
						<button (click)="stopTache(tache.id)" class="btn btn-warning btn-sm">Stop</button>
					</ng-container>
					<button class="btn btn-primary btn-sm" routerLink="/tache/{{tache.id}}">Edit</button>
					<button (click)="supprTache(tache.id)" class="btn btn-outline-danger btn-sm">X</button>
				</td>
			</tr>
		</tbody>
	</ng-container>
</table>
