
<div class="row col-md-12">
	<button (click)="quickStart()" class="btn btn-success">Quick Start</button>	
</div>

<div class="table-responsive col-md-4">
	<table class="table">
		<tbody>
		  <tr *ngFor="let tache of tachesEnCours" >
				<th  scope="row">{{tache.id}}</th> 
				<td>{{tache.nom}}</td>
				<td>{{tache.duree}}</td>
				<td>
					<button (click)="stopTache(tache)" class="btn btn-warning btn-sm">Stop</button>
				</td>
		  </tr>

		</tbody>
	</table>
</div>

<table class="table">
	<ng-container *ngIf="tachesSansCategorie.length>0">
		<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Sans catégorie</th> 
					<th scope="col">{{getTempsTotalCategorie(-1)}}</th>
					<th scope="col">Action</th>
				</tr>
		</thead>
		<tbody>
			<tr *ngFor="let tache of tachesSansCategorie">
				<th scope="row">{{tache.id}}</th>
				<td>{{tache.nom}}</td>
				<td>{{tache.duree}}</td>
				<td>
					<ng-container *ngIf="tache.enCours">
						<button (click)="stopTache(tache)" class="btn btn-warning btn-sm">Stop</button>
					</ng-container>
					<button class="btn btn-primary btn-sm" routerLink="/tache/{{tache.id}}">Edit</button>
					<button (click)="supprTache(tache)" class="btn btn-outline-danger btn-sm">X</button>
				</td>
			</tr>
		</tbody>
	</ng-container>
	<ng-container *ngFor="let categorie of categories">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">{{categorie.nom}}</th> 
				<th scope="col">{{getTempsTotalCategorie(categorie.id)}}</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let tache of getTachesFromCategorie(categorie.id)">
				<th scope="row">{{tache.id}}</th>
				<td>{{tache.nom}}</td>
				<td>{{tache.duree}}</td>
				<td>
					<ng-container *ngIf="tache.enCours">
						<button (click)="stopTache(tache)" class="btn btn-warning btn-sm">Stop</button>
					</ng-container>
					<button class="btn btn-primary btn-sm" routerLink="/tache/{{tache.id}}">Edit</button>
					<button (click)="supprTache(tache)" class="btn btn-outline-danger btn-sm">X</button>
				</td>
			</tr>
		</tbody>
	</ng-container>
</table>